    *{margin: 0;}
    .box1{height:992px;background-image: url(img/bts_2.png);background-repeat: no-repeat;background-color: #c1c1c8;background-position-x: center;}
    .box2{height:732px;background-color: black;}
    .box3{height:1093px;background-color: black;}
    .box4{height:800px;background-color: #000000;}
    .box5{height:900px;background-color: black;}

    .inbox1{width: 1100px; height: 1165px; margin: 0 auto; position: relative;}
    .inbox2{width: 1100px; height: 732px; margin: 0 auto;position: relative;}
    .inbox3{width: 1100px; height: 1093px;margin: 0 auto; position: relative;}
    .inbox4{width: 1535px; height: 1057px; margin: 0 auto; position: relative;}
    .inbox5{width: 700px; height: 980px; margin: 0 auto; position: relative;}

    .sb1{position: absolute; width: 494px; left: 50%; transform: translateX(-50%); padding-top: 120px;}
    .sb2{position: absolute; margin-top: 155px;}
    .sb3{position: absolute; margin-top: 150px; width: 700px; margin-left:370px;}
    .sb4{position: absolute; margin-top: 250px; width: 600px;margin-left: 370px;}
    .sb5{position: absolute; margin-top: 87px; width: 700px;}
    .sb6{position: absolute; margin-top: 200px; width: 1080px;}
    .sb7{position: absolute; margin-top: 480px; width: 1033px;}
    .sb8{position: absolute; margin-top: 300px;}
    .sb9{position: absolute; margin-top: 150px; margin-left: 600px; width: 680px;}
    .sb10{position: absolute; margin-top: 90px; width: 967px;}
    .sb11{position: absolute; margin-top: 230px;width: 715px;}
    .sb12{position: absolute; margin-top: 330px;width: 680px;}
    .sb13{position: absolute; margin-top: 650px;width: 240px;}

    .circle{margin: 0 auto; width: 80px; height: 80px; border: 15px solid rgb(120, 90, 210); border-radius: 50%;}



    .txt1{font-size: 40px; color: rgb(255, 255, 255); line-height: 55px;}
    .txt2{font-size: 25px; color: white; font-weight: 600; text-align: justify;}
    .txt3{font-size: 15px; color: #E0E0E0; font-weight: 200;text-align: justify;}
    .txt4{font-size: 25px; color: white; font-weight: 600;}
    .txt5{font-size: 15px; color: #E0E0E0; font-weight: 200;text-align: justify;}
    .txt6{font-size: 35px; color: white;font-weight: 400; transform: rotate(90deg);}
    .txt7{font-size: 15px; color: #E0E0E0; font-weight: 200;text-align: justify;}
    .txt8{font-size: 35px; color: white;font-weight: 600;}
    .txt9{font-size: 20px; color: white;font-weight: 200;text-align: justify;}
    .txt10{font-size: 15px; color: #E0E0E0; font-weight: 200;text-align: justify;}
    .txt11{font-size: 9px; color: #4a4a4a; font-weight: 200;}

   